.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 16rem;
  max-width: 85%;
}

#answers {
  margin-bottom: 2rem;
}

.text-white {
  color: #fff;
}

.bg-teal {
  background-color: #008080;
}

p>a:link {
  text-decoration: none;
  color: #fff;
}

p>a:visited {
  text-decoration: none;
  color: ##ddd;
}

p>a:hover {
  text-decoration: none;
  color: #FF7E47;
}

p>a:active {
  text-decoration: none;
  color: #ddd;
}

footer {
  margin-top: 2rem;
}

#next {
  margin-bottom: 2rem;
}